<?xml version="1.0"?>

<model>
  <name>spaceship_interior_00</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>YOUR NAME HERE</name>
    <email>YOUR EMAIL HERE</email>
  </author>

  <description>
    Flightmare, Scene: Spaceship Interior, Spot 00 
    	-> Extract point cloud 
    		-> PLY file
    			-> Edit with CloudCompare 
    				-> The STL file of this model.
  </description>

</model>
