<?xml version="1.0"?>

<model>
  <name>rpg_gate</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>YOUR NAME HERE</name>
    <email>YOUR EMAIL HERE</email>
  </author>

  <description>
    Flightmare/rpg_gate.prefab -> FBX Export -> https://anyconv.com/de/fbx-konverter/ -> STL
  </description>

</model>
